
/*
background: #16222A;
background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
background: linear-gradient(to bottom, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 }

html {
  font-size: 62.5%;
 }

body {
  font-family: "Open sans", sans-serif;
  /* font-weight: 400; */
  line-height: 1.7;
  color: #fff;
  padding: 3rem;
  box-sizing: border-box;
  font-size: 1.1rem;
}



.panel {
  display: flex;
  /* flex-wrap: wrap; */
  height: 100vh;
  position: relative;
}

.loader {
  border: 2px solid rgba(75,181,234,1);
  position: absolute;
  top: 15%;
  left:8%;
  width: 100px;
  height:1px;
  /* border-radius: 50%; */
  /* width: 700px;
  height:300px; */
  /* border-left-color: rgba(58,96,115,0); */
  z-index: 2;
  /* animation: moveRight 3s forwards; */
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.panel__left {
  background: #16222A;
  background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
  background: linear-gradient(to bottom, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */

}

.panel__left__content{
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-45%, -50%);
  font-size: 1.3rem;
  width: 80%;
  /* align-items: center; */
}

.panel__left__content--subheading {
  display: block;
  font-weight: 300;
  font-size: 2.2rem;

}

.panel__left__content--heading {
  display: block;
  font-weight: 100;
  font-size: 5.4rem;
  margin-top: -20px;
  /* letter-spacing: 2px; */
}

.panel__left__content--text {
  display: block;
  font-weight: 100;
  opacity: 0.7;
}

.form .form-input {
  outline: none;
  border: none;
  opacity: 0.7;
  border-bottom: 1px solid white;
  padding: 1.5rem 0;
  background: none;
  width: 80%;

}

.panel__right {
  width: 45%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel__right .video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
}

ul,
nav {
	list-style: none;
  display: flex;
  animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

@keyframes fadein {
  0% {
    transform: translateY(-10px);
  }

	100% {
    transform: translateY(0px);
		opacity: 1;
	}
}

header nav {
	/* display: flex; */
  margin: 5% 15%;
  justify-content: space-around;
  align-items: center;
}

.panel__right--nav li {
  margin-left: 65%;
  border: 1px solid #fff;
  border-radius: 3%;
  padding: .5rem 1rem;

}
.panel__right .dots-pattern img {
  width: 100%;
  height: 10%;
}


.nav-logo {
  background-image: url(../images/logov2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18%;
  height: 1.8rem;
}

a {
	text-decoration: none;
  text-transform: uppercase;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

.copyright {
  position: absolute;
  top: 95%;
  left: 17%;
  opacity: 0.5;

}
.footer ul{
  float: right;
}
.footer ul li {
  margin: 5% 0;
  margin-right: 1rem;
}
